@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The background image */
    background-image: url('background.JPG');
    
    /* Full height */
    height: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Apply a blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    filter: brightness(0.75);
  }
  
  .bg::after {
    /* Create a container for the content to prevent the blur effect on content */
    content: '';
    background: rgba(255, 255, 255, 0.2); /* White background with transparency */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .content {
    /* Positioning the content box */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Above the blurred background */
    
    /* Styling the content box */
    background-color: #f1f1f1; /* Light grey background */
    width: 80%;
    max-width: 400px; /* Maximum width for small screens */
    padding: 20px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.363); /* Box shadow for 3D effect */
    
    /* Text styling */
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .banner {
    /* Banner styling */
    width: 100%;
    height: 150px; /* Fixed height */
    margin-bottom: 20px;
    background-color: #5d4bff6c;
    background-image: url('mössa.png'); /* Placeholder for the banner image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.363);
    background-size: contain; /* Contain the image within the banner div */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    /* border-top-left-radius: 15px; /* Rounded corners */
    /* border-top-right-radius: 15px; /* Rounded corners */
  }

  .button {
    padding: 10px 25px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(145deg, #ffba00, #ff8300);
    border: none;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(255, 165, 0, 0.4);
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    display: inline-block; /* Allows the <a> to be styled like a button */
    text-decoration: none; /* Removes underline from links */
    text-align: center; /* Center the text inside the link */
  }
  
  .button:hover {
    background: linear-gradient(145deg, #08d4e9, #006aff);
    box-shadow: 0 8px 20px rgba(13, 115, 232, 0.4);
    transform: scale(1.005);
    transition: all 0.3s;
  }

  .button span {
    position: relative;
    z-index: 2;
  }


  .button:before {
    content: '';
    left: 0;
    position: absolute;
    opacity: 0;
    top: 0;
    background: linear-gradient(145deg, #08d4e9, #006aff);
    height: 100%;
    width: 300%;
    z-index: 1;
    transition: opacity 0.3s;
  }

  .button:hover:before {
    opacity: 1;
    transition: all 0.5s;
  }

  
  @media (max-width: 768px) {
    .content {
      width: 90%; /* Take more width on smaller screens */
    }
  }

/* Language Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    border: none;
    background-color: #d4d4d4;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .flag-icon {
    display: inline-block;
    width: 20px; /* Adjust as necessary for your images */
    height: 14px; /* Adjust as necessary for your images */
    margin-right: 8px;
  }
  
  /* Use actual flag images or an icon library */
  .swe-flag:before { content: "🇸🇪"; }
  .ger-flag:before { content: "🇩🇪"; }
  .eng-flag:before { content: "🇬🇧"; }
  .fr-flag:before { content: "🇫🇷"; }
